aiofiles==0.8.0
aiohttp==3.9.0
aiolimiter==1.1.0
aiorun==2023.7.2
aiosignal==1.2.0
aiosqlite==0.17.0
annotated-types==0.6.0
anyio==3.7.1
argcomplete==1.12.3
argon==0.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
args==0.1.0
arrow==1.2.3
astroid==2.3.3
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asyncpraw==7.7.1
asyncprawcore==2.3.0
attrs==23.1.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.7.0
blis==0.7.11
bs4==0.0.1
catalogue==2.0.10
certifi==2023.7.22
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
chromedriver-autoinstaller==0.3.1
click==8.1.7
clint==0.5.1
cloudpathlib==0.16.0
colorama==0.4.6
comm==0.1.3
confection==0.1.3
constantly==15.1.0
contourpy==1.0.7
cryptography==36.0.1
cssselect==1.1.0
cyberdrop-dl==4.2.223
cycler==0.11.0
cymem==2.0.8
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.4.2
docopt==0.6.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl#sha256=708da1110fbe1163d059de34a2cbedb1db65c26e1e624ca925897a2711cb7d77
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
entrypoints==0.4
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.17.1
Flask==3.0.0
Flask-Cors==4.0.0
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.3.0
gallery-dl==1.21.2
geographiclib==2.0
geopy==2.4.1
gofile-client==1.0.1
h11==0.13.0
h2==3.2.0
hpack==3.0.0
html5lib==1.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.8
importlib-metadata==6.6.0
importlib-resources==5.12.0
incremental==21.3.0
instaloader==4.9.5
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
isoduration==20.11.0
isort==4.3.21
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.1
jsonpointer==2.4
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
jupyter-events==0.6.3
jupyter_client==7.4.9
jupyter_core==5.3.0
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
kucoin-python==1.0.8
langcodes==3.3.0
lazy-object-proxy==1.4.3
lxml==4.6.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
mistune==3.0.1
multidict==6.0.2
murmurhash==1.0.10
myjdapi==1.1.7
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio==1.5.6
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.21.1
outcome==1.1.0
overrides==7.3.1
packaging==21.3
pandas==1.3.1
pandoc==2.3
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
patsy==0.5.2
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
pipx==0.16.4
platformdirs==4.0.0
plotly==5.7.0
plotly-express==0.4.1
plumbum==1.8.2
ply==3.11
preshed==3.0.9
priority==1.3.0
prometheus-client==0.17.1
prompt-toolkit==3.0.38
Protego==0.1.16
protobuf==3.17.3
psutil==5.9.5
psycopg2==2.9.3
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pydantic==2.4.2
pydantic_core==2.10.1
PyDispatcher==2.0.5
Pygments==2.14.0
pylint==2.4.4
pymongo==4.6.0
pyOpenSSL==22.0.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger==2.0.7
python-kucoin==2.1.2
pytz==2021.1
pywin32==306
pywinpty==2.0.11
PyYAML==6.0.1
pyzmq==24.0.1
queuelib==1.6.2
readchar==3.0.5
referencing==0.29.1
requests==2.27.1
requests-futures==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.8.10
sanitize-filename==1.2.0
scikit-learn==1.3.0
scipy==1.8.0
Scrapy==2.5.1
selenium==4.1.0
Send2Trash==1.8.2
service-identity==21.1.0
six==1.13.0
sklearn==0.0.post5
smart-open==6.4.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==1.9.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.2
statsmodels==0.13.2
stem==1.8.0
style==1.1.0
tenacity==8.0.1
terminado==0.17.1
thinc==8.2.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tornado==6.3.2
torrequest==0.1.0
tqdm==4.66.1
traitlets==5.9.0
trio==0.19.0
trio-websocket==0.9.2
Twisted==22.1.0
twisted-iocpsupport==1.0.2
typer==0.9.0
typing_extensions==4.8.0
update==0.0.1
update-checker==0.18.0
uri-template==1.3.0
urllib3==1.26.6
userpath==1.7.0
w3lib==1.22.0
wasabi==1.1.2
wcwidth==0.2.6
weasel==0.3.3
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==9.1
Werkzeug==3.0.1
wrapt==1.11.2
wsproto==1.0.0
yarg==0.1.9
yarl==1.9.2
zipp==3.15.0
zope.interface==5.4.0
